<div class="widefoot">
    <div class="base-cont-wrap">
        <div class="left-cont">
            <h3>FEATURED PROPERTY LINKS</h3>
            <ul>
                <li><a href="javascript:void(0);">NRI Faq's</a></li>
                <li><a href="javascript:void(0);">Property for Sale in Gurgaon</a></li>
                <li><a href="javascript:void(0);">Property for Sale in Bangalore</a></li>
                <li><a href="javascript:void(0);">Property for Sale in Hyderabad</a></li>
                <li><a href="javascript:void(0);">Luxury Residential Project in India</a></li>
            </ul>
        </div>
        <div class="mid-cont">
            <h3>FOLLOW AVEC</h3>
            <ul>
                <li>
                    <a href="https://www.facebook.com/Avec-Realty-187417791353651/" target="_blank">
                        Facebook
                        <span class="icohold" style="margin-left:5px;">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/avecrealty" target="_blank">
                        Twitter
                        <span class="icohold" style="margin-left:23px;">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="right-cont">
            <h3>NEWSLETTER SIGN UP</h3>
            <p>Enter your email address below to be the <br> first to hear of our news and events.</p>
            <div class="signupinputhold">
                <form method="post" id="news_form">
                    <input type="email" required placeholder="Enter email address" name="signup" value="">
                    <input type="hidden" name="flag" value="newsletter">
                    <button type="submit">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
</div> <!-- // widefoot -->

<div class="bottomstatus cf">
    <div class="footmainwrap">
        <div class="footnavgrp">
            <span><a href="javascript:void(0);">terms & conditions</a></span>
            <span><a href="javascript:void(0);">site map</a></span>
            <span><a href="javascript:void(0);">privacy policy</a></span>
        </div>
        <div>
            <span>design agency : <a href="http://www.triverseadvertising.com" target="_blank"> triverse</a></span>
        </div>
    </div>
</div> <!-- // bottomstatus -->